@font-face {
    font-family: 'JennaSueRegular';
    src: url('../fonts/jenna-sue/JennaSue-webfont.eot');
    src: url('../fonts/jenna-sue/JennaSue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/jenna-sue/JennaSue-webfont.woff') format('woff'),
         url('../fonts/jenna-sue/JennaSue-webfont.ttf') format('truetype'),
         url('../fonts/jenna-sue/JennaSue-webfont.svg#JennaSueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.navbar .brand {
  font-family:JennaSueRegular;
  font-size:32px;
  font-weight: normal;
  color:#fff;
  text-shadow:none;
}

.carousel-caption {
  margin-left:20px;
  padding: 20px;
  background-color: rgba(0,0,0,0.35);
}

.carousel-caption h1,
h2.featurette-heading {
  font-family:JennaSueRegular;
  font-size:80px;
  font-weight: normal;
}

div.featurette {
  padding-top:20px;
}

#home-book label {
  margin-right:10px;
}
#start-date-controls,
#end-date-controls {
  margin-right:20px;
}

#inline-calendars {
  height:250px
}