{% extends 'base.html' %}
{% load staticfiles %}
{% load compressed %}

{% block content %}
<div class="content grid">

    <div class="grid__item four-fifths">
        <h1>Make a booking with Tilley's Hut</h1>
    </div>

    <div class="grid__item one-fifth">
        <p class="lead">Step 1 of 2</p>
    </div>

    <div class="grid__item one-whole">

        <form action="" method="POST">
            {% csrf_token %}

            <div class="grid form booking-form">

                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}


                    <div class="grid">
                        <div class="grid__item one-half portable-one-whole">
                            <label for="id_start" class="check-in{% if form.start.errors %} error{% endif %}">When do you want to check in?</label>

                            {{ form.start }}

                            {% if form.start.errors or form.non_field_errors %}
                                {% if form.start.errors %}
                                    {% include 'includes/message-list.html' with messages=form.start.errors message_type='error' %}
                                {% endif %}

                                {% if form.non_field_errors %}
                                    {% include 'includes/message-list.html' with messages=form.non_field_errors message_type='error' %}
                                {% endif %}
                            {% endif %}

                            <div class="calendar visuallyhidden--desk">
                                {{ calendar }}
                            </div>

                            <label for="id_nights" class="nights{% if form.nights.errors %} error{% endif %}">For how many nights?</label>

                            <div class="nights">
                                {{ form.nights }}
                            </div>

                            {% if form.nights.errors %}
                                {% include 'includes/message-list.html' with messages=form.nights.errors message_type='error' %}
                            {% endif %}
                        </div>

                        <div class="calendar grid__item one-half visuallyhidden--portable">
                            {{ calendar }}
                        </div>
                    </div>

                    <div class="grid__item one-whole">
                        <h3>Tell us a little about yourself</h3>
                    </div>

                    <div class="grid__item one-quarter">
                        <label for="id_name"{% if form.name.errors %} class="error"{% endif %}>Your Name</label>
                    </div>

                    <div class="grid__item three-quarters">
                        {{ form.name }}
                        {% if form.name.errors %}
                            {% include 'includes/message-list.html' with messages=form.name.errors message_type='error' %}
                        {% endif %}
                    </div>

                    <div class="grid__item one-quarter">
                        <label for="id_email"{% if form.email.errors %} class="error"{% endif %}>Your Email</label>
                    </div>

                    <div class="grid__item three-quarters">
                        {{ form.email }}
                        {% if form.email.errors %}
                            {% include 'includes/message-list.html' with messages=form.email.errors message_type='error' %}
                        {% endif %}
                    </div>

                    <p class="text--center small icon-text">Don't worry, we promise we'll never share your information with anyone else.</p>

                    <div class="grid__item one-whole">
                        <h3>Any other notes?</h3>
                        <label for="id_notes">Special requests, dietary requirements, that sort of thing... We'll do our best to accommodate.</label>
                    </div>

                    <div class="grid__item one-whole">
                        {{ form.notes }}
                    </div>

                    <div class="grid__item one-whole">
                        <p>Once you submit this form, we'll double-check the availability of the nights you'd like to stay, and ask you to <strong>pay a &pound;{{ settings.DEPOSIT }} deposit to confirm your booking</strong>.</p>
                        <p><strong>You can pay online by Visa or Mastercard</strong>, or send us a cheque. We ask that you please give us sufficient notice if you would like cancel your booking, otherwise we may not be able to refund your deposit.</p>
                    </div>

                    <div class='grid__item one-whole text--center'>
                        <button class="btn icon-text" type="submit"><i class="icon-credit  icon-text__icon"></i>Make the booking</button>
                    </div>

            </div>

        </form>

    </div>

</div>
{% endblock content %}

{% block extra_js %}{% compressed_js 'booking' %}{% endblock extra_js %}