{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
{% spaceless %}
<div class="content grid">

    <div class="grid__item four-fifths">
        <h1>Pay for your booking</h1>
    </div>

    <div class="grid__item one-fifth">
        <p class="lead">Step 2 of 2</p>
    </div>

    <div class="grid__item one-third palm-one-whole">
        {% include 'includes/booking_summary.html' with booking=booking %}
    </div>

    <div class="grid__item two-thirds palm-one-whole">

        <h3>Card details</h3>

        <form action="" method="POST" id="payment-form">

            <div class="grid form">

                {{ form.booking_id }}

                <div class="grid__item one-whole payment-errors">
                    {% if form.non_field_errors %}
                        {% include 'includes/message-list.html' with messages=form.non_field_errors message_type='error' %}
                    {% endif %}
                </div>

                <div class="grid__item one-third">
                    <label>Card Number</label>
                </div>

                <div class="grid__item two-thirds">
                    <input type="text" size="20" data-stripe="number" placeholder="1234 5678 9101 2131"/>
                </div>

                <div class="grid__item one-third">
                    <label>CVC</label>
                </div>

                <div class="grid__item two-thirds">
                    <input type="text" size="4" data-stripe="cvc" placeholder="123"/>
                </div>

                <div class="grid__item one-third">
                    <label>Expiration (MM/YYYY)</label>
                </div>

                <div class="grid__item three-twelfths">
                    <input type="text" size="2" data-stripe="exp-month" placeholder="mm"/>
                </div>

                <div class="grid__item one-twelfth">
                    <label>/</label>
                </div>

                <div class="grid__item four-twelfths">
                    <input type="text" size="4" data-stripe="exp-year" placeholder="yyyy"/>
                </div>

                <div class="grid__item one-third">
                    <label>Total</label>
                </div>

                <div class="grid__item two-thirds">
                    <input type="text" disabled="disabled" size="20" value="&pound;{{ booking.price_pounds }}"/>
                </div>

                <div class='grid__item one-whole text--center'>
                    <button class="btn icon-text" type="submit"><i class="icon-credit  icon-text__icon"></i>Submit payment</button>
                </div>

            </div>

        </form>

    </div>

</div>
{% endspaceless %}
{% endblock content %}

{% block extra_js %}
    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
    <script type="text/javascript">
        Stripe.setPublishableKey('{{ settings.STRIPE_PUBLIC_KEY }}');

        var stripeResponseHandler = function(status, response) {
            var $form = $('#payment-form');

            if (response.error) {
                // Show the errors on the form
                $form.find('.payment-errors')
                     .html('<ul class="message-list"><li class="message-list__error icon-text"><i class="icon-close icon-text__icon"></i>' + response.error.message + '</li></ul>');
                $form.find('button').prop('disabled', false).removeClass("btn--inactive");
            } else {
                // token contains id, last4, and card type
                var token = response.id;
                // Insert the token into the form so it gets submitted to the server
                $form.append($('<input type="hidden" name="stripe_token" />').val(token));
                // and submit
                $form.get(0).submit();
            }
        };

        jQuery(function($) {
            $('#payment-form').submit(function(event) {
                var $form = $(this);

                // Disable the submit button to prevent repeated clicks
                $form.find('button').prop('disabled', true).addClass("btn--inactive");

                Stripe.createToken($form, stripeResponseHandler);

                // Prevent the form from submitting with the default action
                return false;
            });
        });

    </script>

{% endblock extra_js %}