{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}

{% block content %}
{% spaceless %}
<div class="content grid">
    <div class="grid__item seven-tenths lap-two-thirds palm-one-whole left-column">
        <h1>When do you want to stay?</h1>

        <p class="lead">Pick a date from the calendar below and we'll tell you if it's available.</p>

        <div class="calendar grid__item one-whole">
            {{ calendar }}
        </div>

        <p><span class="sample booked">&nbsp;</span> Days are booked &nbsp;<span class="sample available">&nbsp;</span> Days are available</span></p>

    </div>

    <div class="grid__item three-tenths lap-one-third palm-one-whole rates right-column">
        <h2>How much is it?</h2>
        <p class="price">&pound;{{ settings.PRICE_PER_NIGHT|add:settings.PRICE_PER_NIGHT }} for two nights</p>
        <p>The hut sleeps 2 people and the price is inclusive of towels, a locally sourced breakfast and charcoal for the woodburner.</p>
        <p><a class="btn icon-text" href="{% url 'booking' %}"><i class="icon-credit icon-text__icon" ></i>Make a booking</a></p>
        <p>We only ask for a &pound;{{ settings.DEPOSIT }} deposit to secure your booking, you pay the rest by cash or cheque when you arrive.</p>
    </div>

    <div class="grid__item one-whole">

        <h2>Weddings, Romantic Breaks and Special Occasions</h2>

        <p>If you would like to give someone special a gift to stay in Tilley's Hut we have Gift Vouchers available. A stay in our Shepherd's Hut will be truly memorable and something very unique. Please let us know if you would like us to arrange for champagne and chocolates to be available on your arrival. A barbecue is available should you wish to make use of this facility on fine summer evenings. </p>

        <p>We are only 5 miles from the beautiful Larmer Tree Gardens - a very special and romantic place for weddings</p>

    </div>
</div>
{% endspaceless %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/availability.js' %}"></script>
{% endblock extra_js %}