{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}

{% block content %}
<div class="content grid">

    <div class='grid__item two-thirds lap-one-half palm-one-whole left-column'>

        <h1>Oh dear, something's gone wrong</h1>

        <p class="lead">Sorry, something has gone wrong on our end, our techies have been informed and they'll look into it asap.</p>

        <p>Perhaps try going back to <a href="{% url 'home' %}">the homepage</a> and looking for what you want from there.</p>

        <p>If it's something you need to tell us about urgently, call us on: <a href="tel:01747854375">01747854375</a> or drop us an email at: <a href="mailto:info@tilleyshut.com">info@tilleyshut.com</a> and we'll try to help.</p>

    </div>
    <div class='grid__item one-third lap-one-half palm-one-whole right-column'>
        <a href="#" class="gallery"><img src='{% static 'img/frontpage.jpg' %}' alt='View from the bed in Tilleys Hut of the table where you will eat a delcicious organic breakfast'/></a>
    </div>
</div>
{% endblock %}