{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}

{% block extra_css %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
<![endif]-->
{% endblock extra_css %}

{% block content %}
{% spaceless %}
<div class="content grid">

    <div class='grid__item one-whole'>

        <h1>Find us</h1>
        <div class="map" id="map"></div>
        <p><a class="btn" href="https://maps.google.co.uk/maps?q=Tilley's+Hut+Bed+and+Breakfast,+Redmans+Lane,+Melbury+Abbas&hl=en&sll=52.8382,-2.327815&sspn=7.687342,19.753418&oq=Tilley's+&t=h&hq=Tilley's+Hut+Bed+and+Breakfast,&hnear=Redmans+Ln,+Dorset+SP7,+United+Kingdom&z=16">See this on google maps</a></p>
        <p>Please note that we're located down a narrow country lane and plan accordingly if you're driving.</p>

        <h2 id="directions">Driving Directions</h2>

        <h3>From the A350 (Southbound)</h3>
        <ul>
            <li>On entering Shaftesbury on the A350 southbound, at the roundabout, take the second exit onto Christy's Lane and proceed for 0.21 miles. Go straight over at the next mini roundabout.</li>
            <li>At the roundabout, by the Royal Chase Hotel, take the first exit onto Salisbury Road.  Move into the right hand lane on the dual carriageway in preparation to turn right onto Higher Blandford Road, signposted Melbury Abbas  and proceed for 1.09 miles.</li>
            <li>Turn right immediately after Melbury Motor garage onto Mill Hollow Lane (single track lane)  and proceed for 0.34 miles.</li>
            <li>Turn right at the bottom of the hill onto Redmans Lane. You will pass a tree on your right with a Tourist Information (Self Catering) sign. This belongs to our neighbour.  Pass their property on the right which is a brick barn. Ahead of you will be wooden gates into Melbury Mill at which point bear right onto a concrete track. Parking for Tilley’s Hut is directly in front of you next to our workshop, a stone and wooden clad building with a green door.</li>
        </ul>

        <h3>From the A30 (from Salisbury)</h3>
        <ul>
            <li>Take the first left turn on entering Shaftesbury onto Higher Blandford Road, signposted Melbury Abbas and proceed for 1.09 miles.</li>
            <li>Turn right immediately after Melbury Motor garage onto Mill Hollow Lane (single track lane)  and proceed for 0.34 miles.</li>
            <li>Turn right at the bottom of the hill onto Redmans Lane. You will pass a tree on your right with a Tourist Information (Self Catering) sign. This belongs to our neighbour. Pass their property on the right which is a brick barn. Ahead of you will be wooden gates into Melbury Mill at which point bear right onto a concrete track. Parking for Tilley’s Hut is directly in front of you next to our workshop, a stone and wooden clad building with a green door.</li>
        </ul>

        <h3>From Blandford direction</h3>
        <ul>
            <li>Take the 3rd exit on the Blandford by-pass at the roundabout signposted Melbury Abbas onto Higher Blandford Road, and proceed for about 9miles.</li>
            <li>After passing Compton Abbas airfield you will descend down Spread Eagle Hill. Proceed with caution around the bends and take the second turning on your left signposted Village Hall.</li>
            <li>At the village hall turn right and at the bottom of the hill turn left onto Redmans Lane.</li>
            <li>You will pass a tree on your right with a Tourist Information (Self Catering) sign.  This belongs to our neighbour. Pass their property on the right which is a brick barn. Ahead of you will be wooden gates into Melbury Mill at which point bear right onto a concrete track. Parking for Tilley’s Hut is directly in front of you next to our workshop, a stone and wooden clad building with a green door.</li>
        </ul>

        <h2>About Our Area</h2>

        <p>Shaftesbury is an ancient Saxon town, well known for its now ruined Abbey and its royal connections.  King Cnut died here in 1035 AD while the body of King Edward 'The Martyr', son of Edgar was interred at the Abbey in 980 AD and many miracles were attributed to its presence there. There are extensive fine views across the Blackmore Vale from the Abbey, while Gold Hill provides the perfect picture postcard setting well known to the famous Hovis advert.</p>

        <p>The stunning location of the Larmer Tree Gardens at Tollard Royal is only 5 miles away and within easy walking distance from Tilley's Hut is Compton Abbas airfield where flying lessons can be arranged. Also close by and easily reached by footpath from Melbury Mill, is Cann Flour Mill, which produces organic flour and runs a Panary Workshop with courses ranging from a half day onwards, that are available to book.</p>

        <p>The beautiful beaches that stretch from Studland Bay near Poole Harbour, westwards along the World Heritage Jurassic Coast and beyond to Chesil beach and Lyme Regis, are again less than an hour away by car. There are also a number of sporting facilities catering for tennis, swimming, horse riding and such like within easy reach, and we are directly on the route of a National Cycle Highway.</p>

        <p>This is an area rich in archaeological sites and with a rich and varied history. Important Neolithic, Bronze Age and Iron Age sites abound, such as Hambledon Hill, Maiden Castle and Hod Hill, with Stonehenge, Avebury and Silbury Hill only 40 minutes away. The 'Dark Age Citadel' of South Cadbury, reputedly the 5th century 'Camelot' of King Arthur is less than 30 minutes away, as is Bokerley Dyke, a massive Bronze Age earthwork.</p>

        <p>Though only a little more than a mile away from the town of Shaftesbury, our serene and secluded location in Melbury Abbas offers you the perfect respite from the cares and stresses of the modern world without having to jump on a plane.</p>

        <ul>
            <li>Less than one mile to the A30 by car.</li>
            <li>Only 2 hours from London by train.</li>
            <li>Directly on the national cycle highway.</li>
            <li>At the end of the ancient Wessex ridgeway footpath.</li>
            <li>Less than an hour to the golden beaches of Studland Bay.</li>
        </ul>

    </div>
</div>
{% endspaceless %}
{% endblock %}

{% block extra_js %}
<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
<script type="text/javascript" src="{% static 'js/map.js' %}"></script>
{% endblock extra_js %}