{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}

{% block content %}
{% spaceless %}
<div class="content grid">

    <div class='grid__item two-thirds lap-one-half palm-one-whole left-column'>

        <h1>Availability</h1>

        <p>To arrange a booking or for enquiries please <a href="mailto:info@tilleyshut.com">email us</a> or telephone <a href="tel:01747854375">01747 854 375</a>.</p>

        <p><strong>Tilley's Hut</strong> is available for stays of <strong>2 nights</strong> or more - please do contact us to enquire about rates if you should wish to stay more than 2 nights.</p>

        <p>If you are unable to find availability this year then don't forget that we are able to provide Gift Vouchers which can be purchased for special occasions and used in the coming season. The calendar on the right shows which days are currently available for booking (in <span class="availableGreen">green</span>) and which days are currently booked up (in <span class="bookedRed">red</span>). You can browse the months, or select a specific month to view using the drop-down box below the calendar.</p>

        <p>If you know the dates you would like to book, you can also check their availability directly using the form below:</p>

        <p>Form goes here!</p>
    </div>
    <div class='grid__item one-third lap-one-half palm-one-whole right-column'>
        <p>Calendar goes here</p>
    </div>
</div>
{% endspaceless %}
{% endblock %}