{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Tilleys Hut - Unusual place to stay - a restored Dorset shepherds hut - Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.new.css' %}" />
    </head>

    <body>

        <div class="container">

            <div class="header row-fluid">
                <div class="span7">
                    <p class="logo"><a href="/" title="Tilleys Hut - Unusual place to stay - Homepage">Tilleys Hut</a></p>
                    <p class="subtitle">B&amp;B in a restored Dorset Shepherd's Hut</span></p>
                </div>
                <div class="span5">
                    <p class="contact-details">
                        <strong>Tel: </strong><a href="tel:01747854375">01747 854 375</a>
                    </p>
                    <p class="contact-details">
                        <strong>Email: </strong><a href="#">info@tilleyshut.com</a>
                    </p>
                </div>
            </div>

            <div class="hero row-fluid">
                <p><img src="{% static "img/banner.jpg" %}" alt="Scenes of Tilleys hut and the surrounding area."/></p>
            </div>

            <div class="nav row-fluid">
                <ul>
                    <li class="active">Home</li>
                    <li><a href="#">The Hut</a></li>
                    <li><a href="#">Rates and Services</a></li>
                    <li><a href="#">The Area</a></li>
                    <li><a href="#">Availability</a></li>
                    <li><a href="#">Things to Know</a></li>
                </ul>
            </div>

            {% block content %}{% endblock content %}

        <div class="footer row-fluid">
            {% block footer %}{% endblock footer %}
        </div>

    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
