{% load staticfiles %}
{% load url from future %}
{% load compressed %}
<!DOCTYPE html>
{% spaceless %}
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
        {% compressed_css 'main' %}
        {% block extra_css %}{% endblock extra_css %}
        <title>Tilleys Hut - Unusual place to stay - a restored Dorset shepherds hut - Home</title>
    </head>

    <body>
        <div class="wrapper">

            <div class="grid header">

                <div class="grid__item two-thirds lap-one-half palm-one-whole">
                    <p class="logo brand"><a href="{% url 'home' %}" title="Tilleys Hut - Unusual place to stay - Homepage">Tilleys Hut</a></p>
                    <p class="subtitle brand-face">B&amp;B in a restored Dorset Shepherd's Hut</p>
                </div>
                <div class="grid__item one-third lap-one-half palm-one-whole">
                    <p class="contact-details"><a href="tel:{{ settings.PHONE_NUMBER }}" class="icon-text"><i class="icon-phone icon-text__icon"></i>{{ settings.PHONE_NUMBER }}</a></p>
                    <p class="contact-details"><a href="mailto:{{ settings.SITE_EMAIL }}" class="icon-text"><i class="icon-mail icon-text__icon"></i>{{ settings.SITE_EMAIL }}</a></p>
                </div>
            </div>

            <div class="grid hero">
                <div class="grid__item one-whole">
                    <a class="gallery" href="#"><img src="{% static "img/banner.jpg" %}" alt="Scenes of Tilleys hut and the surrounding area." /></a>
                </div>
            </div>

            {% include 'includes/nav.html' %}

            {% block content %}{% endblock content %}

            <div class="grid">
                <div class="grid__item one-whole">
                    {% block footer %}{% endblock footer %}
                </div>
            </div>

        </div>

        {% include 'includes/gallery.html' %}

        <script type="text/javascript">
            // JS settings, from the django settings, which are in turn from env vars
            (function(window){
                window.TilleysHut = {
                    CLOUDMADE_API_KEY: "{{ settings.CLOUDMADE_API_KEY }}"
                };
            })(window);
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        {% compressed_js 'main' %}
        <!--[if lte IE 7]>
            {% compressed_js 'icons-lte-ie7' %}
        <![endif]-->
        {% block extra_js %}{% endblock extra_js %}
    </body>

</html>
{% endspaceless %}