{% load staticfiles %}
<html>
    <head>
        <title>Tilleys Hut - Unusual place to stay - a restored Dorset shepherds hut - Home</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.new.css' %}" />
    </head>
    <body>
        <div id="pagecontainer">
            <div id="titlecontainer">
                <div id="lefttitlecontainer">
                    <p class="logo"><a href="/" title="Tilleys Hut - Unusual place to stay - Homepage">Tilleys Hut</a></p>
                    <p class="subtitle">B&amp;B in a restored Dorset Shepherd's Hut</span></p>
                </div>
                <div id="righttitlecontainer">
                    <p class="contactdetails">
                        <strong>Tel: </strong><a href="tel:01747854375">01747 854 375</a><br/>
                        <strong>Email: </strong><a href="#">info@tilleyshut.com</a>
                    </p>
                </div>
                <div id="titleimagecontainer">
                    <img src="{% static "img/banner.jpg" %}" alt="Scenes of Tilleys hut and the surrounding area."/>
                </div>
            </div>
            <div id="menucontainer">
                <p>
                    <span class="menuhighlighted">Home </span> &nbsp;&nbsp;&nbsp;
                    <span class="menu"><a class="white" href="#">The Hut</a></span> &nbsp;&nbsp;&nbsp;
                    <span class="menu"><a class="white" href="#">Rates and Services</a></span> &nbsp;&nbsp;&nbsp;
                    <span class="menu"><a class="white" href="#">The Area</a></span> &nbsp;&nbsp;&nbsp;
                    <span class="menu"><a class="white" href="#">Availability</a></span> &nbsp;&nbsp;&nbsp;
                    <span class="menu"><a class="white" href="#">Things to Know</a></span> &nbsp;&nbsp;&nbsp;
                </p>
            </div>
            {% block content %}{% endblock content %}
        <div id="footercontainer">{% block footer %}{% endblock footer %}</div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
</body>
</html>
