{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}

{% block content %}
{% spaceless %}
<div class="grid">

    <div class='grid__item two-thirds lap-one-half palm-one-whole left-column'>

        <h1>Welcome</h1>

        <p>Nestled in the heart of Thomas Hardy country at the foot of Melbury Downs you will find Tilley's Hut. Adjacent to a working farm and at the end of a secluded lane your stay will be truly relaxing and will take you back in time.</p>

        <p>The Shepherd's Hut has been completely renovated and dates back to around 1910 when it was used by Shepherds during the lambing season on the Dorset Downs. It has been lovingly restored and is now fully insulated and comfortably furnished.</p>

        <p>In the evenings the hut is heated by a wood burner and lit by solar powered lighting. When you wake, you will find a breakfast hamper full of local produce has been delivered to your door for you to enjoy at your leisure.</p>

        <p>The serene and secluded location in Melbury Abbas, North Dorset is a mile away from the Saxon hilltop town of Shaftesbury.</p>

        <h2>Visitors Comments</h2>


        <blockquote>
            <p>&OpenCurlyDoubleQuote;If there was one night of the year I didn't want to end, I think it would be this one&CloseCurlyDoubleQuote;</p>
            <b>Sally Shalam - <a class="red" href="http://www.guardian.co.uk/travel/2009/sep/05/tilleys-hut-dorset-review">The Guardian</a></b>
        </blockquote>

        <blockquote>
            <p>&OpenCurlyDoubleQuote;5* Bathroom, 5* Accommodation, 5* Breakfast <u>AND</u> Infinite stars for the whole experience. You have created a marvellous haven. Thank you so much.&CloseCurlyDoubleQuote;</p>
            <b>Fern Britton</b>
        </blockquote>

        <blockquote>
            <p>&OpenCurlyDoubleQuote;Found this on the internet whilst looking for &OpenCurlyQuote;unusual&CloseCurlyQuote; places to stay and am so glad that I did! A real get away from it all weekend, wonderfully relaxing, peaceful, with every tiny detail thoughfully taken care of. AMAZING..... and so were the breakfasts. Thank you&CloseCurlyDoubleQuote;</p>
            <b>J and A, Horsham</b>
        </blockquote>
    </div>
    <div class='grid__item one-third lap-one-half palm-one-whole right-column'>
        <img src='{% static 'img/frontpage.jpg' %}' alt='View from the bed in Tilleys Hut of the table where you will eat a delcicious organic breakfast'/>
    </div>
</div>
{% endspaceless %}
{% endblock %}