{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}

{% block content %}
{% spaceless %}
<div class="grid">
    <div class='grid__item three-quarters'>
        <h1>Welcome</h1>
        <p class="pagecontent">Nestled in the heart of Thomas Hardy country at the foot of Melbury Downs you will find Tilley's Hut. Adjacent to a working farm and at the end of a secluded lane your stay will be truly relaxing and will take you back in time.</p>
        <p class="pagecontent">The Shepherd's Hut has been completely renovated and dates back to around 1910 when it was used by Shepherds during the lambing season on the Dorset Downs. It has been lovingly restored and is now fully insulated and comfortably furnished.</p>
        <p class="pagecontent">In the evenings the hut is heated by a wood burner and lit by solar powered lighting. When you wake, you will find a breakfast hamper full of local produce has been delivered to your door for you to enjoy at your leisure.</p>
        <p class="pagecontent">The serene and secluded location in Melbury Abbas, North Dorset is a mile away from the Saxon hilltop town of Shaftesbury.</p>
        <p><br /></p>
        <h2>Visitors Comments</h2>
        <p class="quote">"If there was one night of the year I didn't want to end, I think it would be this one" <span style="color: rgb(178, 34, 34);">Sally Shalam</span> - <a class="red" href="http://www.guardian.co.uk/travel/2009/sep/05/tilleys-hut-dorset-review">The Guardian</a></p>
        <p class="quote">"5* Bathroom, 5* Accommodation, 5* Breakfast <u>AND</u> Infinite stars for the whole experience.  You have created a marvellous haven.  Thank you so much.  <span style="color: rgb(178, 34, 34);">Fern Britton</span></p>
        <p class="quote">"Found this on the internet whilst looking for 'unusual' places to stay and am so glad that I did!  A real get away from it all weekend, wonderfully relaxing, peaceful, with every tiny detail thoughfully taken care of.  AMAZING..... and so were the breakfasts.  Thank you"     <span style="color:#b22222;">J and A, Horsham</span></p>
        <p class="quote">"Totally enchanting! What a truly magical experience.  The hut is gorgeous with every single detail thought about - we even got a slice of welcome cake which was fab!  The breakfasts are AMAZING.  Thanks to our hosts for a most wonderful weekend.  <span style="color:#b22222;">M and N, Fleet</span></p>
        <p class="quote">"We have had a truly relaxing time in this beautiful hut.  Loved the tranquility, all the special touches in the hut and that amazing breakfast which we enjoyed outside due to the fantastic weather, this and your welcoming hospitality has made this a break never to forget.   <span style="color:#b22222;">L and T, Cheltenham.</span></p>
    </div>
    <div class='grid__item one-quarter'>
        <img src='{% static 'img/frontpage.jpg' %}' alt='View from the bed in Tilleys Hut of the table where you will eat a delcicious organic breakfast'/>
    </div>
</div>
{% endspaceless %}
{% endblock %}