{% extends 'base.html' %}
{% load staticfiles %}{% load url from future %}

{% block title %}Tilley's Hut - Unusual place to stay - a restored Dorset shepherds hut{% endblock title %}

{% block description %}
Nestled in the heart of Thomas Hardy country at the foot of Melbury Downs you will find Tilley's Hut. Adjacent to a working farm and at the end of a secluded lane your stay will be truly relaxing and will take you back in time.
{% endblock description %}

{% block content %}
    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Tilley's Hut</a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><a href="#hut">The Hut</a></li>
                <li><a href="#rates">Rates & Availability</a></li>
                <li><a href="#area">The Area</a></li>
                <li><a href="#reviews">Reviews</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->



    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="{% static 'img/site/slide-01.jpg' %}" alt="Unusual Bed & Breakfast">
          <div class="container">
            <div class="carousel-caption">
              <h1>An unusual place to stay</h1>
              <p class="lead">Stay in our wonderfully restored Dorset shepherd's hut.</p>
              <p class="lead"> Off-grid luxury nestled in Thomas Hardy country.</p>
              <a class="btn btn-large btn-success" href="#hut">Take a look around</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{% static 'img/site/slide-02.jpg' %}" alt="Weekend getaway">
          <div class="container">
            <div class="carousel-caption">
              <h1>Beautiful weekend getaway</h1>
              <p class="lead">Cosy charcoal stove and private garden. Only £100 a night, including a local, organic breakfast cooked to order.</p>
              <a class="btn btn-large btn-success" href="#rates">When's it available?</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{% static 'img/site/slide-03.jpg' %}" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>The perfect gift</h1>
              <p class="lead">Champagne and roses on arrival, a brisk downland walk, or total seclusion, the choice is yours...</p>
              <a class="btn btn-large btn-success" href="#reviews">See what our guests say</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->

      <div class="featurette" id="hut">
        <img class="featurette-image pull-right" src="{% static 'img/site/hut-square.jpg' %}">
        <h2 class="featurette-heading">The Hut.</h2>
        <p class="lead">The Shepherd's Hut has been completely renovated and dates back to around 1910 when it was used by Shepherds during the lambing season on the Dorset Downs. It has been lovingly restored and is now fully insulated and comfortably furnished.</p>
        <p class="lead">In the evenings the hut is heated by a wood burner and lit by solar powered lighting. When you wake, you will find a breakfast hamper full of local produce has been delivered to your door for you to enjoy at your leisure.</p>
        <p class="lead"><a href="#gallery" data-toggle="modal">Check out our gallery</a></p>
        <a class="btn btn-large btn-success" href="#rates">How much is it?</a>
      </div>

      <hr class="featurette-divider">

      <div class="featurette" id="rates">
        <img class="featurette-image pull-right" src="{% static 'img/site/hut-inside-square.jpg' %}">
        <h2 class="featurette-heading">Rates & Availability.</h2>
        <h3>When do you want to stay?</h3>
        <form class="form-inline" id="home-book" action="book.html">
            <label class="lead" for="start_date" id="start-date-label"><strong>From:</strong></label>
            <div class="input-append" id="start-date-controls">
              <input class="date input-small" type="text" id="start-date" name="start_date" placeholder="dd/mm/yyyy"/>
              <span class="add-on"><i class="icon-calendar"></i></span>
            </div>
            <label class="lead" for="end_date" id="end-date-label"><strong>To:</strong></label>
            <div class="input-append" id="end-date-controls">
              <input class="date input-small" type="text" id="end-date" name="end_date" placeholder="dd/mm/yyyy"/>
              <span class="add-on"><i class="icon-calendar"></i></span>
            </div>
            <a href="#booking" data-toggle="modal" class="btn btn-success btn-large">Is it available?</a>
        </form>
        <h3>Upcoming availability</h3>
        <p class="lead">We will be opening for the new season at Easter.</p>
        <div id="inline-calendars" class="row">
          <div id="inline-calendar-1" class="pull-left"></div>
          <div id="inline-calendar-2" class="pull-right"></div>
        </div>
        <h3>Rates</h3>
        <p class="lead">The hut sleeps 2 people and is available at only <strong>£200 for 2 nights</strong></p>
        <p class="lead">Inclusive of sheets, towels, a locally sourced breakfast and charcoal for the woodburner.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette" id="area">
        <div class="featurette-image pull-left">
          <iframe width="512" height="512" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;sll=52.8382,-2.327815&amp;sspn=5.853775,16.699219&amp;ie=UTF8&amp;hq=Tilley's+Hut+Bed+and+Breakfast,+Redmans+Lane,&amp;hnear=Melbury+Abbas,+Dorset,+United+Kingdom&amp;t=m&amp;ll=51.003818,-2.190742&amp;spn=0.110397,0.175438&amp;z=12&amp;output=embed"></iframe>
        </div>
        <h2 class="featurette-heading">The Area.</h2>
        <p class="lead">Though only a little more than a mile away from the town of Shaftesbury, our serene and secluded location in Melbury Abbas offers you the perfect respite from the cares and stresses of the modern world without having to jump on a plane.</p>
        <ul class="lead unstyled">
          <li>Less than one mile to the A30 by car.</li>
          <li>Only 2 hours from London by train.</li>
          <li>Directly on the national cycle highway.</li>
          <li>At the end of the ancient Wessex ridgeway footpath.</li>
          <li>Less than an hour to the golden beaches of Studland Bay.</li>
        </ul>
        <a class="btn btn-large btn-success" href="#book">Book your Dorset getaway</a>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

      <!-- Three columns of text below the carousel -->
      <div class="row" id="reviews">
        <div class="span12">
          <h2>Reviews</h2>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <img class="img-circle" src="{% static 'img/site/guardian.png' %}">
          <h2><a href="http://www.guardian.co.uk/travel/2009/sep/05/tilleys-hut-dorset-review">The Guardian</a></h2>
          <p class="lead"><strong>&#8220;</strong>If there was one night of the year I didn't want to end, I think it would be this one.<strong>&#8221;</strong></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" src="{% static 'img/site/the-week.png' %}">
          <h2><a href="http://www.theweek.co.uk/arts-life/19207/hotel-week-tilley%E2%80%99s-hut-dorset">The Week</a></h2>
          <p class="lead"><strong>&#8220;</strong>Hotel of the week. Beautifully refurbished shepherd's hut.<strong>&#8221;</strong></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" src="{% static 'img/site/conde-nast.png' %}">
          <h2><a href="http://www.cntraveller.com/recommended/uk/summer-sizzlers/tilleys-hut-dorset">Conde Nast Traveller</a></h2>
          <p class="lead"><strong>&#8220;</strong>The most impossibly cute little love shack imaginable.<strong>&#8221;</strong></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->

      <hr class="featurette-divider">

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>Website designed and built by <a href="http://stevenday.tumblr.com">Steven Day</a></p>
      </footer>

    </div><!-- /.container -->
{% endblock content %}