{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}

{% block content %}
{% spaceless %}
<div class="content grid">
    <div class="grid__item seven-tenths lap-two-thirds palm-one-whole">
        <h1>When do you want to stay?</h1>

        <div class="grid calendar">
            <div class="first-month grid__item one-half portable-one-whole">
                {{ first_bookings }}
            </div>
            <div class="second-month grid__item one-half visuallyhidden--portable">
                {{ second_bookings }}
            </div>
        </div>

        <div class="grid">
            <div class="calendar-instructions grid__item two-thirds palm-one-whole">
                <p>The calendar shows our current availability. Pick a date and let's <a href="mailto:info@tilleyshut.com" class="btn btn--gamma btn--small btn--positive">make a booking</a>.</p>
            </div>

            <div class="calendar-key grid__item one-third palm-one-whole">
                <p><span class="booked">&nbsp;</span> Booked</p>
                <p><span class="available">&nbsp;</span> Available</span></p>
            </div>
        </div>
    </div>

    <div class="grid__item three-tenths lap-one-third palm-one-whole rates">
        <p>The hut sleeps 2 people and is <strong>£170 for 2 nights</strong>. Inclusive of sheets, towels, a locally sourced breakfast and charcoal for the woodburner.<br/><a class="btn btn--gamma btn--small btn--positive" href="tel:01747854375">Phone 01747 854375</a><br/>or:<br/><a class="btn btn--gamma btn--small btn--positive" href="mailto:info@tilleyshut.com">Email info@tilleyshut.com</a><br/>for booking enquiries.</p>
    </div>

    <div class="grid__item two-thirds lap-one-half palm-one-whole left-column">

        <h2>Payment</h2>

        <p>We require a deposit of £50 on confirmation of booking. Please make this payable to Adam Gallimore and send this to<br>
        The Hayloft, Barfoot Farm,<br>
        Melbury Abbas<br>
        Shaftesbury<br>
        Dorset SP7 0DB.<br>
        The balance to be paid by cheque or cash.</p>

        <h2>Weddings, Romantic Breaks and Special Occasions</h2>

        <p>If you would like to give someone special a gift to stay in Tilley's Hut we have Gift Vouchers available. A stay in our Shepherd's Hut will be truly memorable and something very unique. Please let us know if you would like us to arrange for champagne and chocolates to be available on your arrival. A barbecue is available should you wish to make use of this facility on fine summer evenings. </p>

        <p>We are only 5 miles from the beautiful Larmer Tree Gardens - a very special and romantic place for weddings</p>

    </div>
    <div class="grid__item one-third lap-one-half palm-one-whole right-column">
        <img src="{% static 'img/frontpage.jpg' %}" alt='View from the bed in Tilleys Hut of the table where you will eat a delcicious organic breakfast'/>
    </div>
</div>
{% endspaceless %}
{% endblock %}