{% load staticfiles %}
{% load url from future %}

<ul class="gallery multi-list three-cols {% if hidden %}visuallyhidden{% endif %}">
    <li>{% include 'includes/gallery_item.html' with filename='bed.jpg' with_image=with_images %}</li>
    <li>{% include 'includes/gallery_item.html' with filename='dresser.jpg' with_image=with_images %}</li>
    <li>{% include 'includes/gallery_item.html' with filename='table.jpg' with_image=with_images %}</li>
    <li>{% include 'includes/gallery_item.html' with filename='woodburner.jpg' with_image=with_images %}</li>
    <li>{% include 'includes/gallery_item.html' with filename='sitting_area.jpg' with_image=with_images %}</li>
    <li>{% include 'includes/gallery_item.html' with filename='bathroom.jpg' with_image=with_images %}</li>
    <li>{% include 'includes/gallery_item.html' with filename='shower.jpg' with_image=with_images %}</li>
    <li>{% include 'includes/gallery_item.html' with filename='pond.jpg' with_image=with_images %}</li>
    <li>{% include 'includes/gallery_item.html' with filename='mill.jpg' with_image=with_images %}</li>
    <li>{% include 'includes/gallery_item.html' with filename='downs.jpg' with_image=with_images %}</li>
</ul>
