{% load staticfiles %}
{% load url from future %}

<div class="visuallyhidden">
    <ul class="gallery">
        <li><a href="{% static 'img/gallery/bed.jpg' %}" data-caption=""></a></li>
        <li><a href="{% static 'img/gallery/dresser.jpg' %}" data-caption=""></a></li>
        <li><a href="{% static 'img/gallery/table.jpg' %}" data-caption=""></a></li>
        <li><a href="{% static 'img/gallery/table_apples.jpg' %}" data-caption=""></a></li>
        <li><a href="{% static 'img/gallery/woodburner.jpg' %}" data-caption=""></a></li>
        <li><a href="{% static 'img/gallery/sitting_area.jpg' %}" data-caption=""></a></li>
        <li><a href="{% static 'img/gallery/bathroom.jpg' %}" data-caption=""></a></li>
        <li><a href="{% static 'img/gallery/shower.jpg' %}" data-caption=""></a></li>
        <li><a href="{% static 'img/gallery/bathroom.jpg' %}" data-caption=""></a></li>
        <li><a href="{% static 'img/gallery/pond.jpg' %}" data-caption=""></a></li>
        <li><a href="{% static 'img/gallery/mill.jpg' %}" data-caption=""></a></li>
        <li><a href="{% static 'img/gallery/downs.jpg' %}" data-caption=""></a></li>
    </ul>
</div>
