{% load staticfiles %}
{% load url from future %}
<div class="grid">
    <div class="grid__item one-whole">
        <ul class="nav nav--banner brand-face">
            {% url 'home' as url %}
                <li{% if request.path == url %} class="active"{% endif %}><a href="{{ url }}" >Home</a></li>
            {% url 'hut' as url %}
                <li{% if request.path == url %} class="active"{% endif %}><a href="{{ url }}">The Hut</a></li>
            {% url 'bookings' as url %}
                <li{% if url in request.path %} class="active"{% endif %}><a href="{{ url }}">Rates and Bookings</a></li>
            {% url 'area' as url %}
                <li{% if request.path == url %} class="active"{% endif %}><a href="{{ url }}">Find Us</a></li>
            {% url 'things_to_know' as url %}
                <li{% if request.path == url %} class="active"{% endif %}><a href="{{ url }}">Things to Know</a></li>
        </ul>
        <hr class="rule"/>
    </div>
</div>