body {
    color: #333;
    font-family: Arial, sans-serif;
    background-color:$yellow;
}

a {
    color:$brand-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
};

.btn {
    color:#FFF;
    background-color: $green;
    &:hover {
        background-color: lighten($green, 5%);
    }
}

.btn--inactive,
.btn--inactive:hover {
    color: #EEE;
    background-color: #BBB;
}

.wrapper {
    max-width:960px;
    padding:0 24px;
    margin:0 auto;
}
