.calendar-key p {
    text-align: left;
    @include media-query(palm) {
        text-align: center;
    }
}

.calendar {
    td,th {
        padding:4px;
    }
}

th,
.day {
    width:14%;
    text-align: center;
    border:1px solid #EEE;
    background-color: #FFF;
}

th.heading {
    background-color: $yellow;
    border:0;
    padding-bottom:8px;
}

span.prev,
span.next {
    @include font-size($h6-size);
}

span.month {
    @include font-size($h5-size);
    padding: 0px 18px;
}

.non-empty-day {
    cursor: pointer;
}

.today {
    font-weight: bold;
    font-size:$h4-size;
}

.available {
    background-color: lighten($green, 30%);
}
    span.available {
        color: lighten($green, 30%);
        display:inline-block;
        width:32px;
        overflow: hidden;
    }

.booked {
    background-color: lighten($brand-color, 50%);
}
    span.booked {
        color: lighten($brand-color, 50%);
        display:inline-block;
        width:32px;
        overflow:hidden;
    }

.unavailable {
    color:#999;
}

.first-month .next a,
.second-month .prev a {
    display:inline;
    @include media-query(desk) {
        display:none;
    }
}

.price {
    @include font-size($h4-size);
}
