$available-green: lighten($green, 30%);
$booked-red: lighten($brand-color, 50%);

.calendar-key p {
    text-align: left;
    @include media-query(palm) {
        text-align: center;
    }
}

.calendar {

    // Cell basics
    td,th {
        padding:4px;
    }

    th,
    .day {
        width:14%;
        text-align: center;
        border:1px solid #EEE;
        background-color: #FFF;
    }

    // Heading things
    th.heading {
        background-color: $yellow;
        border:0;
        padding-bottom:8px;
        font-weight: normal;

        span.prev,
        span.next {
            @include font-size($h5-size);
        }

        span.month {
            @include font-size($h4-size);
            padding: 0px 18px;
        }
    }

    // Different types of cells
    .non-empty-day {
        cursor: pointer;
    }

    .available {
        background-color: $available-green;
        &:hover {
            background-color: darken($available-green, 30%);
            color:#FFF;
        }
    }

    .booked {
        background-color: $booked-red;
        &:hover {
            background-color: darken($booked-red, 50%);
            color:#FFF;
        }
    }

    .unavailable {
        color:#999;
    }

    .today {
        background-color: $yellow;
    }

    .selected {
        @extend .available:hover;
    }
}

.sample {
    @include font-size($h4-size);
    display:inline-block;
    width:32px;
}
.sample.available {
    background-color: $green
}
.sample.booked {
    background-color: $brand-color;
}

.first-month .next a,
.second-month .prev a {
    display:inline;
    @include media-query(desk) {
        display:none;
    }
}

.price {
    @include font-size($h3-size);
    font-weight: bold;
}
