.content {
    margin-bottom:24px;
}
.right-column {
    text-align: center;
    margin-top:24px;
}

h1 {
    text-align: center;
    @include media-query(lap-and-up) {
        text-align: left;
    }
}
