@font-face {
    font-family: 'JennaSueRegular';
    src: url('../fonts/jenna-sue/JennaSue-webfont.eot');
    src: url('../fonts/jenna-sue/JennaSue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/jenna-sue/JennaSue-webfont.woff') format('woff'),
         url('../fonts/jenna-sue/JennaSue-webfont.ttf') format('truetype'),
         url('../fonts/jenna-sue/JennaSue-webfont.svg#JennaSueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}