.logo {
    font-family: 'JennaSueRegular';
    font-size: 4em;
    color: #800000;
    padding: 0.5em 0 0 0.25em;
    margin-left: -0.25em;
}

.subtitle {
    font-family: 'JennaSueRegular';
    font-size: 1.75em;
    font-weight: bold;
    margin: 0.5em 0 0 3em;
    padding: 0;
}

.contact-details {
    text-align: right;
    margin-bottom:0;
}