.header {

    margin-top: 24px;
    margin-bottom: 10px;

    /* Mobile-first centering */
    .logo,
    .subtitle,
    .contact-details {
        text-align: center;
    }

    .logo {
        @include font-size($giga-size);
        > a:hover {
            text-decoration: none;
        }
    }

    .subtitle {
        @include font-size($h1-size);
    }

    .contact-details {
        @include font-size($h4-size);
    }


    /* Remove mobile-first centering and tighten up titles */
    @include media-query(lap-and-up) {
        .logo,
        .subtitle {
            text-align: left;
            margin-bottom: 0;
        }
        .contact-details {
            text-align: right;
        }
    }

    /* Make the subtitle pull up even tighter on desktops */
    @include media-query(desk) {
        .subtitle {
            padding-top: 0;
            margin-top: -20px;
            margin-left: 115px;
        }
    }
}