/**
 * A general message list style
 */
.message-list {
  list-style: none;
  padding: 0;
  li {
    &.message-list__error {
      color: $error-color;
    }
    &.message-list__success {
      color: $success-color;
    }
  }
}